.wtable {font: 85% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;padding: 0; margin: 0; border-collapse: collapse; color: #333; background: #F3F5F7; float:left; clear:both; width:710px;}

.wtable a {color: #3A4856; text-decoration: none; border-bottom: 1px solid #C6C8CB;}  

.wtable a:visited {color: #777;}

.wtable a:hover {color: #000;}  

.wtable caption {text-align: left; text-transform: uppercase;  padding-bottom: 10px; font: 200% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;}

.wtable thead th {background: #55B4FD; padding: 15px 10px; color: #fff; text-align: left; font-weight: normal;}

.wtable tbody, .wtable thead {border-left: 1px solid #EAECEE; border-right: 1px solid #EAECEE;}

.wtable tbody {border-bottom: 1px solid #EAECEE;}
                      
.wtable tbody td, .wtable tbody th {padding: 10px; background: url("../img/td_back.gif") repeat-x; text-align: left;}

.wtable tbody tr {background: #F3F5F7;}

.wtable tbody tr.odd {background: #F0F2F4;}

.wtable tbody  tr:hover {background: #EAECEE; color: #111;}

.wtable tfoot td, .wtable tfoot th, .wtable tfoot tr {text-align: left; font: 120%  "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif; text-transform: uppercase; background: #fff; padding: 10px;}