/****************** CSS RESET CODE ***************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align:left;
}
html, body {
    text-align:center;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
div {
    display:block;
}
img {
    border:none;
}
/**************************** MAIN STYLING **************************/

body {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 11px;
    color: #838383;
}
h1 {
    text-indent: -5px;
    font-size: 78px;
    letter-spacing: -4px;
    line-height: 80px;
    font-weight: 600;
    color: #3F3F3F;
}
h2 {
    font-size: 15px;
    line-height: 19px;
    font-weight: bold;
    color: #938F90;
}
h3 {
    margin-bottom: 5px;
    font-size: 18px;
    width: 370px;
    line-height: 24px;
    font-weight: bold;
    color: #3F3F3F;
}
h4 {
    font-size: 9px;
    font-weight: normal;
    color: #938F90;
}
h5 {
    font-size: 40px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #3F3F3F;
    padding-bottom: 10px;
}
h6 {
    font-size: 11px;
    font-weight: 600;
    color: #3F3F3F;
    padding-top: 1px;
    margin-bottom: 2px;
}
p {
    width: 370px;
    margin-bottom: 15px;
    line-height: 1.5em;
}
a {
    color: #938F90;
    text-decoration: none;
    outline: none;
    font-weight: 600;
}
p a, h2 a{
    border-bottom: 1px dotted;
}
a:hover {
    color: #3F3F3F;
    text-decoration: none;
    outline: none;
}
label {
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
    font-size: 11px;
    font-weight: 600;
    color: #3F3F3F;
}
input, textarea {
    width: 95%;
    padding: 5px;
    border: 1px solid #BDBDBD;
    background: white url(http://bookcadabra.appspot.com/images/bg_form.jpg) top left repeat-x;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 11px;
}
em {
    font-weight: normal;
    font-style: italic;
    font-size: 11px;
    color: #2D2B2D;
}
.wrapper {
    width:900px;
    margin-left:135px;
    /*margin-right:auto;*/
    margin-top:20px;
}
.header {
    height: 197px;
    width: 900px;
}
.logo {
    height: 65px;
    width: 190px;
    margin-top: 60px;
    float: left;
}
.menu {
    height: 65px;
    width: 500px;
    margin-top: 60px;
    float: left;
}
.main-menu {
    list-style:none;
}
.main-menu li {
    text-align: center;
    float: left;
    height: 65px;
    width: 100px;
    background-repeat:no-repeat;
    background-position:top left;
}
.main-menu li a.active_home {
    background-image:url(http://bookcadabra.appspot.com/images/active_menu_home.gif);
}
.main-menu li a.active_about {
    background-image:url(http://bookcadabra.appspot.com/images/active_menu_about.gif);
}
.main-menu li a.active_contact {
    background-image:url(http://bookcadabra.appspot.com/images/active_menu_contact.gif);
}
.main-menu li a.active_portfolio {
    background-image:url(http://bookcadabra.appspot.com/images/active_menu_portfolio.gif);
}
.main-menu li a.active_blog {
    background-image:url(http://bookcadabra.appspot.com/images/active_menu_blog.gif);
}
.main-menu li.hover_home {
    background-image:url(http://bookcadabra.appspot.com/images/hover_home.gif);
}
.main-menu li.hover_about {
    background-image:url(http://bookcadabra.appspot.com/images/hover_about.gif);
}
.main-menu li.hover_portfolio {
    background-image:url(http://bookcadabra.appspot.com/images/hover_portfolio.gif);
}
.main-menu li.hover_contact {
    background-image:url(http://bookcadabra.appspot.com/images/hover_contact.gif);
}
.main-menu li.hover_blog {
    background-image:url(http://bookcadabra.appspot.com/images/hover_blog.gif);
}
.main-menu li a {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #938F90;
    padding: 18px 0 5px 3px;
    background-repeat:no-repeat;
    background-position:bottom left;
}
.main-content {
    clear: both;
    width: 810px;
    margin-bottom: 50px;
}
.main-message {
    margin-bottom: 5px;
}
.name-spacing {
    letter-spacing:6px;
}
.content {
    clear: both;
}
.content-left {
    width: 380px;
    margin-right: 50px;
    float: left;
}
.content-right {
    width: 450px;
    float: left;
}
.cat-thumb {
    float: left;
    height: 83px;
    width: 365px;
    margin-bottom: 20px;
    background: url(http://bookcadabra.appspot.com/images/preview_bg.png) no-repeat;
}
.cat-thumb img {
    height: 70px;
    width: 360px;
    margin: 3px 0 0 3px;
    border: none;
}
.cat-websites, .cat-desktop, .cat-experiments {
    float: left;
    height: 70px;
    width: 70px;
    display: block;
}
.footer {
    float: left;
    clear: both;
    margin-top: 30px;
    height: 40px;
    width: 810px;
    background: url(http://bookcadabra.appspot.com/images/footer_bg.gif) bottom repeat-x;
}
.copyright {
    clear: both;
    width: 180px;
    margin-right: 150px;
    float: left;
    padding-top:20px;
}
.validator{
    float:right;
}
.attribute-list-item {
    float: left;
    width: 380px;
    margin-bottom: 10px;
    padding-left: 25px;
    background-position:top left;
    background-repeat:no-repeat;
}
.expand{
    text-align:right;
}
.expand img{
    margin-left:5px;
}
.check {
    background-image: url(http://bookcadabra.appspot.com/images/check.gif);
}
.cross_yellow {
    background-image: url(http://bookcadabra.appspot.com/images/cross_yellow.gif);
}
.cross_red {
    background-image: url(http://bookcadabra.appspot.com/images/cross_red.gif);
}
.state-word{
    padding-bottom:3px;
}
.display-none{
    float:left;
    display:none;
}
.display-block{
    display:block;
}
#address, #phoneNo, #messenger, #mail, #profiles {
    float: left;
    width: 350px;
    margin-top: 10px;
    padding-left: 25px;
    line-height: 15px;
}
#address {
    background: url(http://bookcadabra.appspot.com/images/address.gif) top left no-repeat;
}
#phoneNo {
    background: url(http://bookcadabra.appspot.com/images/phone.gif) top left no-repeat;
}
#messenger {
    background: url(http://bookcadabra.appspot.com/images/messenger.gif) top left no-repeat;
}
#mail {
    background: url(http://bookcadabra.appspot.com/images/mail.gif) top left no-repeat;
}
#profiles {
    background: url(http://bookcadabra.appspot.com/images/profiles.gif) top left no-repeat;
}
.category {
    float: left;
    width: 807px;
    margin-bottom: 15px;
    background: url(http://bookcadabra.appspot.com/images/line.gif) bottom left no-repeat;
}
.folio-left {
    width: 380px;
    margin-right: 50px;
    float: left;
}
.folio-right {
    width: 380px;
    float: left;
}
.folio_item {
    margin-bottom: 25px;
}
.folio-pic, .folio-pic-m {
    float: left;
    height: 146px;
    width: 377px;
    margin: 5px 0px 0px 0px;
    background: url(http://bookcadabra.appspot.com/images/folio_bg.png) no-repeat;
}
.info {
    width: 371px;
}
.info a {
    clear: both;
    margin-left: 326px;
    margin-bottom: 5px;
    height: 13px;
    width: 45px;
    display: block;
    background: url(http://bookcadabra.appspot.com/images/more_info.gif) top right no-repeat;
}
.info-box{
    display: none;
}
.error {
    float: left;
    width: 380px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: red;
}
.success{
    color: #41BC00;
    width: 370px;
    margin-bottom: 15px;
    line-height: 1.5em;
}